:root {
  --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  --app-colour: #ffd04d;
  --app-colour-dark: #ffbc00;
  --text-colour: black;
  --selection-colour: #ffff00;

  --title-bar-height: 32px;

  --font-size-normal: 1.2rem;
  --font-size-large: 1.7rem;
  --font-size-giant: 2.2em;
}