#dropzone {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  > #icon {
    margin-bottom: 2rem;
  }

  > #text {
    font-size: var(--font-size-large);
    text-align: center;
  }
}