@import "./styles/core.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html,
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--primary-font);
	overflow-y: hidden;
	overflow-x: hidden;
}

#root,
#app-container {
	width: 100%;
	height: 100%;
}

#main-app {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}