#app-container.os-WSL {
  #process-confirmation-page {
    > .file-results {
      height: calc(100% - var(--action-bar-height));
    }
  }
}

#process-confirmation-page {
  --action-bar-height: 32px;
  height: inherit;

  > .file-results {
    padding: 2rem;
    height: calc(100% - var(--action-bar-height) - var(--title-bar-height));
    overflow-y: auto;

    .file-info {
      margin-bottom: 2rem;

      > h1 {
        margin-bottom: 0.5rem;
      }
    }

    .links-list {
      > p {
        margin-bottom: 1rem;
      }
      > table {

        >thead,tbody{
          >tr {
            >td {
              padding: 0.2rem;
            }
          }
        }

        > thead {
          font-weight: bold;
        }

        > tbody td,
        > tbody td * {
          user-select: text;
        }

        > tbody td a {
          text-decoration: none;
        }
      }
    }
  }

  .action-bar {
    background-color: var(--app-colour-dark);
    height: var(--action-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;

    > a {
      background-color: var(--app-colour-dark);
      font-size: var(--font-size-normal);
      align-self: stretch;
      flex-grow: 1;
      justify-self: stretch;
      cursor: pointer;
      font-weight: bold;
      color: var(--text-colour);
      text-decoration: none;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}